@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    src: url('/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf');
}

h1,h2,h3,h4,h5,h6,p,a {
    font-family: 'Roboto Mono';
    text-decoration: none;
    margin: 0;
}